* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {}

#header {
    height: 50px;
    background-color: #000;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav>li {
    display: inline-block;
}

#nav li {
    text-transform: uppercase;
    position: relative;
}

#nav li:hover .subnav {
    display: block;
}

#nav>li>a {
    color: #fff;
}

#nav li a {
    display: block;
    text-decoration: none;
    line-height: 50px;
    padding: 0 25px;
}

#nav>li:hover>a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav .subnav a {
    color: #000;
    padding: 0 30px;
    line-height: 40px;
}

#nav .subnav li:hover a {
    color: #fff;
    background-color: #ccc;
}

#search {
    float: right;
}

#search .search-btn {
    display: none;
    float: right;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 25px;
    border-radius: 5px;
}

#search .search-icon {
    color: #fff;
    float: right;
    line-height: 50px;
    padding: 0 16px;
}

#search .search-icon:hover .search-btn {
    display: block;
}

#search .search-icon:hover {
    background-color: #ccc;
    color: #000;
}